<!DOCTYPE html>
<html>

<head>
  <title>
    Add a user
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <u>Add a user :</u>
  </h1>
  <br>
  <form action="add" method="post">
    <label for="email">Email : </label>
    <br>
    <input type="text" name="email" id="email">
    <br>
    <br>
    <label for="first">First name : </label>
    <br>
    <input type="text" name="first" id="first">
    <br>
    <br>
    <label for="last">Last name : </label>
    <br>
    <input type="text" name="last" id="last">
    <br>
    <br>
    <label for="company">Company : </label>
    <br>
    <input type="text" name="company" id="company">
    <br>
    <br>
    <label for="country">Country : </label>
    <br>
    <input type="text" name="country" id="country">
    <br>
    <br>
    <button type="submit">Add</button>
  </form>
</body>

</html>